<!doctype html>
<html lang='en'>
  <head>
    <title>SCC ARES/RACES Hospital Net Script - {{ datestring }} Edition</title>
    <style>

    .embed {
      font-weight: bold;
    }

    table.main_table {
      /* table-layout: fixed; */
      border-spacing: 2px;
      width: 100%;
      page-break-before: always;
      border-collapse: collapse;
    }

    .main_table td, .main_table th {
      border-left: 1px solid gray;
      border-right: 1px solid gray;
    }

    tr.top .box {
      border-bottom: 1px solid gray;
    }
    
    tr.bottom .box, tr.bottom .pname,
    tr.bottom .box_yn
    {
      border-bottom: 2px solid black;
    }
    
    .box {
      width: 15%;
    }

    tr td.name, tr td.pname {
      padding-top: 12px;
    }

    .gap {
      width: 1px;
    }

    td.name, td.pname, .hname {
      white-space: nowrap;
      width: 1px;
    }

    .traffic, .packet, .hosp_equip, .printer, .tested
    {
      /*width: 2em;*/
      height: 2em;
      white-space: nowrap;
      /*transform: rotate(-45deg);*/
      /*border-spacing: 1px;*/
      /*writing-mode: vertical-lr;*/
      writing-mode: sideways-lr;
    }

    .box_yn {
      width: 2em;
      white-space: nowrap;
    }

    </style>
  </head>
  <body>
    <h1>SCC ARES/RACES Hospital Net Script - {{ datestring }}</h1>

    <p>
    <span class='embed'>[Note: due to CSS dependencies: the HTML for this page only displays properly in Firefox; Chrome/Edge/Safari will not rotate the text properly]</span>
    </p>

    <p>
    Is there any priority or emergency traffic before we begin tonight’s Hospital Net?
    </p>

    <p>
    Good Evening! This is <span class='embed'>[CALL]</span>, <span class='embed'>[NAME]</span>, Net Control Operator for the monthly Santa
    Clara County Hospital Net on the N6NFI repeater, 145.230 MHz, negative offset with a
    PL of 100Hz. The repeater is also available via echolink.
    </p>

    <p>
    <span class='embed'>[PAUSE]</span>
    </p>

    <p>
    I will now conduct a roll call of hospitals.  Please respond with:
    </p>

    <ul>
      <li>The name of your hospital</li>
      <li>Your first name</li>
      <li>Your amateur Call sign, slowly and phonetically</li>
      <li>If you have traffic for the net</li>
      <li>If you sent a packet message</li>
      <li>Did you use hospital equipment</li>
      <li>Do you have a printer</li>
      <li>Did you test the printer this session</li>
    </ul>

    <p>
    <span class='embed'>[Go to the hospital call sheet.  Call each hospital.  Make sure to ask for additional checkins from each hospital: some hospitals have several people]</span>
    </p>

    <p>
    <span class='embed'>[As Net control you can do checkins however you want, but one good way is to gather call signs first,
    then get the additional information for that list of people]</span>
    </p>

    <p>
    <span class='embed'>[Make sure to ask for additional checkins at the end for people who were missed the first time around]</span>
    </p>

    <p>
    <span class='embed'>[For stations with traffic: call on them now]</span>
    </p>

    <p>
    Is there any other business for the net at this time?
    </p>

    <p>
    <span class='embed'>[Pause]</span>
    </p>

    <p>
    Thank you for your participation in the Monthly Hospital Net. We will now return the
    repeater to normal use. Our thanks to the owners and operators for use of their
    repeater this evening. This is <span class='embed'>[CALL]</span>, <span class='embed'>[NAME]</span> closing the monthly Santa Clara County
    Hospital Net.
    </p>

    <p>
    <span class='embed'>[Mail a copy of the completed worksheet to <a href='mailto:hospital@scc-ares-races.groups.io'>hospital@scc-ares-races.groups.io</a>]</span>
    </p>

    <p>
    <span class='embed'>[The source to this file is
      <a href='https://github.com/neilkatin/scc-ares-races-hospital-net'>https://github.com/neilkatin/scc-ares-races-hospital-net</a>.
      Releases of the html and pdf files can be found in the
      <a href='https://github.com/neilkatin/scc-ares-races-hospital-net/releases'>repository releases page</a>
      (expand the <code>Assets</code> section to see the files)]</span>
    </p>

{% macro hblock(name, packetname, three_line=false) -%}
        <tr class='top'>
          <td class='name'>{{ name }}</td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
        </tr>
        {% if three_line == true -%}
        <tr class='top'>
          <td class='pname'>&nbsp;</td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
        </tr>
        {%- endif %}
        <tr class='bottom'>
          <td class='pname'>{{ packetname }}</td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='gap'></td>
          <td class='box'></td>
          <td class='box'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
          <td class='box_yn'></td>
        </tr>
{%- endmacro %}

    <table class='main_table'>
      <thead>
        <tr>
          <th class='hname'>Hospital</th>
          <th class='gap'></th>
          <th class='title'>Name</th>
          <th class='title'>Call</th>
          <th class='gap'></th>
          <th class='title'>Name</th>
          <th class='title'>Call</th>
          <th class='traffic'>Traffic</th>
          <th class='packet'>Packet</th>
          <th class='hosp_equip'>Hosp Equip</th>
          <th class='printer'>Printer</th>
          <th class='tested'>Tested</th>
        </tr>
      </thead>
      <tbody>
      {{ hblock('MHJOC', 'HOSDOC') }}
      {{ hblock('RED CROSS', 'ARCEOC') }}
      {{ hblock('El Camino LG', 'HOSECL') }}
      {{ hblock('El Camino MTV', 'HOSECM', true) }}
      {{ hblock('Good Sam', 'HOSGSH') }}
      {{ hblock('Kaiser SJC', 'HOSKSH') }}
      {{ hblock('Kaiser SCL', 'HOSKSC') }}
      {{ hblock('O\'Connor', 'HOSOCH') }}
      {{ hblock('Palo Alto VA', 'HOSPAV') }}
      {{ hblock('Regional SJ', 'HOSRSH') }}
      {{ hblock('St Louise Reg\'l', 'HOSSLH') }}
      {{ hblock('Stanford', 'HOSSUH') }}
      {{ hblock('Valley Med', 'HOSVMC') }}
      </tbody>
    </table>
  </body>
</html>
